//--------------------------------------------------------------
// Headings
//--------------------------------------------------------------
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
   letter-spacing: 2px; 
}

//--------------------------------------------------------------
// Sections
//--------------------------------------------------------------
.section {
    padding:3rem 0;
    
    &__title {
        letter-spacing: 2px;

        .c-green {}
        .c-yellow {}
        .c-red {}
    }
}